
DisplayModeToggler/DisplayModeToggler/obj/Release/

DisplayModeToggler/DisplayModeToggler/obj/Debug/

DisplayModeToggler/.vs/DisplayModeToggler/v16/

DisplayModeToggler/.vs/DisplayModeToggler/v17/

DisplayModeToggler/DisplayModeToggler/bin/Release/

DisplayModeToggler/DisplayModeToggler/bin/Debug/
